*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    background-color: #F2F2F2;
    line-height: 1;
}
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.product_card {
    max-width: 600px;
    background-color: #FFFFFF;
    margin: 175px auto 100px auto;
    display: flex;
    color:#6C7289;
    border-radius: 10px;
    overflow: hidden;
}
.product_image{
    width: 50%;
}

.info{
    width: 50%;
    padding: 32px;
}
h1{
    font-size: 12px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 500;
}
h2{
    /* width: 236px;
    height: 96px; */
    color: #1C232B;
    text-align: left;
    font-family: Fraunces;
    font-weight: 700;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 24px;
}
.description{
    font-family: 'Montserrat';
    font-weight: 500;
    line-height: 1.5;
    font-size: 14px;
}
.price{
    margin-top: 34px;
    display: flex;
}
.sale_price{
    color: #3D8168;
    font-family: Fraunces;
    font-weight: 700;
    font-size: 32px;
    margin-right: 19px;
}
.old_price{
    color: #6C7289;
    text-decoration:line-through;
}
.add_btn{
    display: flex;
    height: 48px;
    width: 236px;
    background-color: #3D8168;
    border-radius: 8px;
    margin-top: 33px;
    align-items: center;
    justify-content: center;
    color: #FFFF;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 500;
}
.add_btn:hover{
    background-color: #1A4032;
}
.icon{
    margin-right: 12px;
}

@media (max-width: 375px) {
    .product_card{
        flex-direction: column;
        width: 343px;
        margin: 28px auto 16px auto;
    }
    .product_image{
        width: 100%;
        max-height: 240px;
        object-fit: cover;
        object-position: center; 
    }
    .info{
        width: 100%;
        padding: 24px;
    }
  }